* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding-left: 0 !important;
}
h6 {
  font-weight: 700 !important;
}
.border-blue {
  border: 5px solid blue;
}
.cv-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1.5fr 1fr;
  border: 8px solid blue;
}
.right {
  grid-row: 1 / 3;
  grid-column: 3 /4;
}
.icon {
  font-size: 35px;
}
.goals-icon {
  padding: 0 24px;
}

/* header */
.header {
  padding-bottom: 18px;
  color: rgb(25, 25, 249);
  border-bottom: 1px solid rgb(167, 164, 164);
}

/* scopes */

#scopes h5 {
  text-transform: uppercase;
  font-weight: 700 !important;
}
/* timeline */

.timeline-number {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(191, 144, 235);
  border: 1px solid rgb(63, 38, 63);
  border-radius: 50%;
}
.timeline-number p {
  margin-bottom: 0;
  color: #fff;
}
#timeline .project {
  border-bottom: 1px dotted rgb(91, 240, 208);
  margin-left: 14px;
}
#timeline .project p {
  margin-bottom: 8px;
}
