/* Small devices (landscape phones, 576px and up) */
/*Iphone(480 x 640)*/
@media screen and (max-width: 767px) {
  .about {
    flex-direction: column;
  }
  .container {
    width: 100% !important;
    margin: 0 auto;
    padding: 0;
  }
  .grid {
    display: flex;
    flex-direction: column;
  }
  /* banner */
  .banner-info ul {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .banner-info li:last-child,
  .banner-info li:first-child {
    border-right: none;
    border-left: none;
  }

  .bd-gold-right {
    border-bottom: 1px solid #d6c08d;
    border-right: none;
  }
  /* background banner */
  .banner-logo {
    background-position: 50%;
  }
  /* chung chi */
  .certificate-content {
    justify-content: center;
    align-items: center;
  }
  .certificate-content img {
    width: 100% !important;
  }
  #chungchi .mobile {
    display: flex;
    flex-direction: column;
  }
  /* project */
  .project {
    display: flex;
    flex-direction: column;
  }
  .project-card .thoigian {
    flex-direction: column;
    align-items: flex-start !important;
  }
  #project .section-title {
    padding: 5px 20px;
  }
  .project-card .thoigian p {
    margin: 5px 0;
  }
  /*  footer */
  #footer span {
    display: none;
  }
}
